:root {
@import url("file://bootstrap-icons.min.css");
}

.eggshell {
  color: #fcf6ef;
}

.shrek {
  color: #a0a742;
}

.baby-blue {
  color: #c7dbe2;
}

.matcha {
  color: #bbcf9b;
}

.bg-matcha {
  background-color: #bbcf9b;
}

.viridian {
  color: #498b6d;
}

.bg-viridian {
  background-color: #498b6d;
}

.seven-seas {
  color: #33576e;
}
