.block {
  width: 1300px;
  height: 310px;
  background-color: rgba(77, 119, 79, 1);
  display: flex;
  justify-content: center;

}

.button,
.main {
  font-family: 'comfortaa', ui-serif;
}

.menu {

}

.card-image {
  width: 340px;
  height: 340px;
}
